backports.functools-lru-cache==1.5
cycler==0.10.0
decorator==4.3.0
GeoAlchemy==0.7.2
GeoAlchemy2==0.5.0
kiwisolver==1.0.1
matplotlib==2.2.3
networkx==2.2
numpy==1.22.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
pyparsing==2.2.2
pyproj==1.9.5.1
python-dateutil==2.7.3
pytz==2018.5
Shapely==1.6.4.post2
six==1.11.0
SQLAlchemy==1.2.12
subprocess32==3.5.3
